
.content
  display: flex
  align-items: center
  justify-content: center
  margin: auto
  height: calc(100vh - 64px)
  margin-top: 10px

@media (max-width: 800px)
  .content
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    margin: 10px auto
    height: auto
