<div class="card" (mouseenter)="setCardExpanded(true)" (mouseleave)="setCardExpanded(false)"
  (click)="toggleCardExpanded()">

  <ng-template [ngIf]="weather" [ngIfElse]="loading">
    <p class="card-header">{{ weather.name }}, {{ weather.country }}</p>
    <hr>
    <p id="temperature" [class]="getTemperatureColor(weather.temp)">{{ weather.temp }}º</p>
    <div id="card-footer">
      <div *ngIf="cardExpanded">
        <div>
          <p class="description">HUMIDITY</p>
          <p id="humidity" class="data">{{ weather.humidity }}<span>%</span> </p>
        </div>
        <div>
          <p class="description">PRESSURE</p>
          <p id="pressure" class="data">{{ weather.pressure }}<span>hPa</span></p>
        </div>
      </div>
      <p id="update">Updated at {{ weather.updatedAt | date:'hh:mm:ss a' }}</p>
    </div>
  </ng-template>

  <ng-template #loading>
    <div>
      <p class="card-header">{{ location }}</p>
      <hr>
      <ng-template [ngIf]="!error" [ngIfElse]="loaded">
        <img src="assets/img/loader.svg" alt="Loading">
      </ng-template>

      <ng-template #loaded>
        <div class="card-content">
          <p class="color-red">Something went wrong</p>
          <button (click)="tryGetWeatherAgain()">Try Again</button>
        </div>
      </ng-template>
    </div>
  </ng-template>
</div>