@import '../../../../../../variables.sass'

.card
  width: 250px
  background: white
  margin: 10px 20px
  box-shadow: 0 0 1em rgba(51, 51, 51, 0.1)
  border-radius: 5px

.card hr
  border: 1px solid $color-divider

.card p
  font-size: 16px
  text-align: center
  margin: 0

.card .card-header
  padding-top: 10px
  color: $color-dark-gray

.card img
  display: flex
  align-items: center
  justify-content: center
  margin: auto
  padding: 50px

.card .card-content
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  margin: auto
  padding: 35px 5px

.card .card-content button
  margin-top: 15px
  color: $color-dark-gray
  border: 2px solid $color-dark-gray
  background: white
  border-radius: 25px
  font-size: 14px
  padding: 10px 10px

.card .card-content button:hover
  background: $color-dark-gray
  color: white

.card #temperature
  font-size: 80px
  padding: 10px 0

.card #card-footer
  background: rgba(241, 241, 241, 0.5)
  padding: 10px 0
  color: $color-dark-gray

.card #card-footer #update
  font-size: 12px
  color: $color-gray

.card #card-footer div
  display: flex
  align-items: center
  justify-content: center
  margin: auto
  height: 50px

.card #card-footer div div
  flex-direction: column

.card #card-footer div div .description
  color: $color-gray
  font-size: 14px

.card #card-footer div div .data span
  font-size: 10px

.color-red
  color: $color-red

.color-orange
  color: $color-orange

.color-blue
  color: $color-blue
