/* You can add global styles to this file, and also import other style files */
@import 'variables.sass'

html, body
  min-height: calc(100vh - 64px)
  height: auto

body
  font-family: $font-stack
  background: $color-base
  width: 100%
  margin: 60px 0 0 0
